.second-hero-content {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.second-hero-title {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.second-hero-description {
    font-size: 1.5rem;
    color: #fff;
    max-width: 55%;
}

@media (max-width: 1000px) {
    .second-hero-title {
        font-size: 3rem;
    }

    .second-hero-description {
        max-width: 100%;
        text-align: justify;
        font-size: 1.2rem;
    }

    .second-hero-content {
        align-items: center;
    }
}

@media (max-width: 700px) {
    .second-hero-content {
        gap: 4rem;
    }
}