.mission-section {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    padding: 8rem 0;
    background-color: #f9f9f9;
    flex-wrap: wrap;
}

.mission-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.text-content {
    flex: 1;
    /* padding-left: 2rem; */
}

.mission-title {
    font-size: 3.8rem;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: 2rem;
}

.mission-description {
    font-size: 1.125rem;
    color: #141111;
    line-height: 1.6;
}

.image-content {
    flex: 1;
    text-align: center;
    margin-top: 2rem;
}

.mission-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .mission-content {
        flex-direction: column;
        text-align: center;
    }
    .text-content {
        order: 1; /* Title comes first */
    }

    .image-content {
        order: 2; /* Image comes second */
        margin-top: 1rem;
    }

    .mission-description {
        order: 3; /* Description comes last */
    }
}
